.banner-section {
  padding-top: 160px;
}
/* page sizings */
.padding-x {
  padding-left: 160px;
  padding-right: 160px;
}
.padding-left {
  padding-left: 160px;
}
.padding-right {
  padding-right: 160px;
}
.padding-y {
  padding-top: 120px;
  padding-bottom: 120px;
}
.padding-top {
  padding-top: 120px;
}
.padding-bottom {
  padding-bottom: 120px;
}
@media (max-width: 821px) {
  .padding-x {
    padding-left: 18px;
    padding-right: 18px;
  }
  .padding-left {
    padding-left: 18px;
  }
  .padding-right {
    padding-right: 18px;
  }
  .padding-y {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .padding-top {
    padding-top: 80px;
  }
  .padding-bottom {
    padding-bottom: 80px;
  }
}

.trending-deals-container {
  background: linear-gradient(rgba(38, 38, 38, .8), rgba(38, 38, 38, .8)), url(../../assets/images/bg-realtor-cta-min.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 240px;
  padding-bottom: 120px;
  margin-top: 80px;
}
.hush-card {
  border-radius: 4px;
  overflow: hidden;
}
.hush-card-body {
  padding: 16px 12px 24px 12px;
}
.price-tag {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: white;
  padding: 4px;
  border-radius: 12px;
  font-size: 13px;
  font-family: "scandia-web", sans-serif;
  font-weight: 500 !important;
  font-style: normal;
}

.plain-cards {
  height: 100%;
  background: #262626;
  padding: 32px 16px;
  transition: 0.4s ease-out;
  cursor: pointer;
}

.plain-cards div img {
  transition: 0.4s ease-out;
}
.plain-cards:hover div img {
  margin-right: 10px;
  transition: 0.4s ease-out;
}

.box-one {
  box-shadow: 0 4px 0 rgba(125, 181, 48, 1);
}
.box-two {
  box-shadow: 0 4px 0 rgba(35, 170, 153, 1);
}
.box-three {
  box-shadow: 0 4px 0 rgba(41, 201, 139, 1);
}
.box-four {
  box-shadow: 0 4px 0 rgba(224, 195, 40, 1);
}
.arrow {
  -webkit-animation: slide 1s ease-in-out infinite;
  animation: slide 1s ease-in-out infinite;
  transition: .3s ease-in-out;
} 
@keyframes slide {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, 10px);
  }
}

.big-cards {
  border-radius: 4px;
  overflow: hidden;
}
.big-card-one {
  background: linear-gradient(rgba(38, 38, 38, .8), rgba(38, 38, 38, .8)), url(../../assets/images/bg-realtor-cta-min.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 80px 40px;
}
.big-card-two {
  background: url(../../assets/images/bg-acad-card.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 80px 40px;
}

hr {
  border: 1px solid #d2d8cb;
  width: 100%;
}