.banner-section {
  padding-top: 160px;
}
/* page sizings */
.section-padding-small {
  padding: 20px;
}
.contact-senction {
  border-top: 1px solid #101010;
  border-bottom: 1px solid #101010;
}
.section-border-right {
  border-right: 1px solid #101010;
}
.contact-section {
  border-top: 1px solid #101010;
  border-bottom: 1px solid #101010;
}
.section-border-bottom {
  border-bottom: 1px solid #101010;
}
.padding-top-80 {
  padding-top: 80px;
}

.bg-about {
  background: linear-gradient(rgba(55, 64, 114, .5), rgba(55, 64, 114, .5)), url(../../assets/images/bg-who-we-are-min.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  width: 100%;
}
.bg-services-1 {
  background: linear-gradient(180deg, rgba(16, 16, 16, 0), rgba(16, 16, 16, 1)), url(../../assets/images/img-pipeline-min.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  width: 100%;
}
.bg-services-2 {
  background: linear-gradient(180deg, rgba(16, 16, 16, 0), rgba(16, 16, 16, 1)), url(../../assets/images/img-construction-min.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  width: 100%;
}
.bg-services-3 {
  background: linear-gradient(180deg, rgba(16, 16, 16, 0), rgba(16, 16, 16, 1)), url(../../assets/images/img-mechanical-civil-min.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  width: 100%;
}
.bg-services-4 {
  background: linear-gradient(180deg, rgba(16, 16, 16, 0), rgba(16, 16, 16, 1)), url(../../assets/images/img-telecoms-min.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  width: 100%;
}
.bg-services-5 {
  background: linear-gradient(180deg, rgba(16, 16, 16, 0), rgba(16, 16, 16, 1)), url(../../assets/images/img-electrical-min.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  width: 100%;
}
.bg-services-6 {
  background: linear-gradient(180deg, rgba(16, 16, 16, 0), rgba(16, 16, 16, 1)), url(../../assets/images/img-heat-exchanger-min.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  width: 100%;
}
.bg-services-7 {
  background: linear-gradient(180deg, rgba(16, 16, 16, 0), rgba(16, 16, 16, 1)), url(../../assets/images/img-elect-maintenance-min.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  width: 100%;
}
@media (max-width: 821px) {
}