html {
  scroll-behavior: smooth;
  line-height: initial;
  transition: 0.9s ease-in-out;
}
h1 {
  font-size: 32px;
  font-family: "elza", sans-serif;
  font-weight: 900;
  font-style: normal;
  line-height: 1.2;
}
h2 {
  font-size: 24px;
  font-family: "elza", sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 1.2;
}

.title {
  font-size: 56px;
  font-family: "elza", sans-serif;
  font-weight: 900;
  font-style: normal;
  line-height: 1.2;
}
.small-paragraph {
  font-size: 13px;
}

/* defaults */
body {
  font-size: 15px;
  color: #101010;
  font-weight: 400;
  line-height: 1.4;
  font-family: "pt-sans-pro", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@media (max-width:768px) {
  .title {
    font-size: 32px;
  }
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 18px;
  }
  .big-title {
    font-size: 40px;
  }
  .big-paragraph {
    font-size: 18px;
  }
}


/* font-family */
.elza-bold {
  font-family: "elza", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.elza-black {
  font-family: "elza", sans-serif;
  font-weight: 900;
  font-style: normal;
}
.pt-sans-pro-regular {
  font-family: "pt-sans-pro", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.pt-sans-pro-demi {
  font-family: "pt-sans-pro", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.pt-sans-pro-bold {
  font-family: "pt-sans-pro", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* buttons */
.btn-xlg-responsive {
  padding: 23px 20px;
}
/* cookies */
.cookieControl__Bar p {
  font-size: 13px !important;
  margin: 5px 0 0;
}
.cookieControl button {
  backface-visibility: hidden;
  border: 0;
  cursor: pointer;
  font-size: 14px !important;
  outline: 0;
  padding: 10px 20px !important;
  transition: background-color .2s,color .2s;
}